<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <link rel="stylesheet" href="{{STATIC_URL}}css/base.css" type="text/css" media="screen" />
    
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap/css/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap/css/bootstrap-responsive.css" type="text/css" media="screen" />
    <script type="text/javascript" src="{{STATIC_URL}}css/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}css/bootstrap/js/jquery-1.8.2.min.js"></script>
    {% block css %}{% endblock %}
    {% block script %}{% endblock %}
    
    <link rel="shortcut icon" href="{{STATIC_URL}}css/bootstrap/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{STATIC_URL}}css/bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{STATIC_URL}}css/bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{STATIC_URL}}css/bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{STATIC_URL}}css/bootstrap/ico/apple-touch-icon-57-precomposed.png">

    <script src="{{STATIC_URL}}css/bootstrap/bootstrap-transition.js"></script>
    <script src="{{STATIC_URL}}css/bootstrap/bootstrap-affix.js"></script>
    <script src="{{STATIC_URL}}css/bootstrap/bootstrap-alert.js"></script>
    <script src="{{STATIC_URL}}css/bootstrap/bootstrap-modal.js"></script>
    <script src="{{STATIC_URL}}css/bootstrap/bootstrap-dropdown.js"></script>
    <script src="{{STATIC_URL}}css/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="{{STATIC_URL}}css/bootstrap/bootstrap-tab.js"></script>
    <script src="{{STATIC_URL}}css/bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{STATIC_URL}}css/bootstrap/bootstrap-popover.js"></script>
    <script src="{{STATIC_URL}}css/bootstrap/bootstrap-button.js"></script>
    <script src="{{STATIC_URL}}css/bootstrap/bootstrap-collapse.js"></script>
    <script src="{{STATIC_URL}}css/bootstrap/bootstrap-carousel.js"></script>
    <script src="{{STATIC_URL}}css/bootstrap/bootstrap-typeahead.js"></script>
    
    <script type="text/javascript">
      $('body').ready(function(){
          {% block onload_script %}{% endblock %}
      });
    </script>

    <title>{% block title %}{% endblock %}</title>
  </head>
  
  <body>
    <div id="fb-root"></div>
    <script>
    window.fbAsyncInit = function() {
	// init the FB JS SDK
	FB.init({
	    appId      : 247692932025602,
	    channelUrl : '{{STATIC_URL}}html/channel.html', // Channel File for x-domain communication
	    status     : true, // check the login status upon init?
	    cookie     : true, // set sessions cookies to allow your server to access the session?
	    xfbml      : true  // parse XFBML tags on this page?
	});

	// Additional initialization code such as adding Event Listeners goes here
        {% block facebook %}{% endblock %}
    };
    // Load the SDK's source Asynchronously
    (function(d, debug){
	var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
	if (d.getElementById(id)) {return;}
	js = d.createElement('script'); js.id = id; js.async = true;
	js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
	ref.parentNode.insertBefore(js, ref);
    }(document, /*debug*/ false));

    </script>
    
    <!-- TOP -->
    <div class="container-narrow">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
	  {% if session %}
	  <li class="user_id"><strong>{{session.user_id}}</strong></li>
	  <li><a href="/logout/"><strong>LOGOUT</strong></a></li>
	  {% else %}
          <li><a href="/login/"><strong>LOGIN</strong></a></li>
	  {% endif %}
        </ul>
        <a href="/"><img src="{{STATIC_URL}}img/logo.jpg" width="15%" height="100%"/></a>
      </div>	  
    </div>
    
    <div id="content-wrapper">
      {% block content %}{% endblock %}
    </div>    
    <hr />
    <div class="container-narrow">
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2012 Roughhands, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer> 
    </div>
  </body>
</html>
