{% extends "base.html" %}

{% block title %}Login Page{% endblock %}

{% block css %}
<style type="text/css">
  .login {
  padding-top: 200px;
  padding-bottom: 200px;
  }

  .form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  }
  .form-signin input[type="text"],
  .form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
  }

</style>
{% endblock %}

{% block script %}{% endblock %}

{% block content %}
<div class="container login">
  <form class="form-signin" action="/login/" method="POST">
    <input type="text" class="input-block-level" placeholder="ID" name="user_id" />
    <input type="password" class="input-block-level" placeholder="Password" name="user_password" />
    {% if next %}
    <input type="hidden" name="next" value="{{next}}" />
    {% endif %}
    <button class="btn" type="submit">Sign in</button>
  </form>
</div>
{% endblock %}
